<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/_reports/html"
             lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="tests/_reports/html/testdox.html" />
        <log type="coverage-clover" target="tests/_reports/clover.xml"
             lowUpperBound="50" highLowerBound="80"/>
    </logging>
    <php>
        <env name="APP_ENV" value="local"/>
        <env name="DRIVER" value="PAGSEGURO"/>
        <env name="PAGSEGURO_EMAIL" value=""/>
        <env name="PAGSEGURO_TOKEN" value=""/>
        <env name="PAGSEGURO_EMAIL_SANDBOX" value="suporte@lojamodelo.com.br"/>
        <env name="PAGSEGURO_TOKEN_SANDBOX" value="57BE455F4EC148E5A54D9BB91C5AC12C"/>
    </php>
</phpunit>